*{
      font-family: "Be Vietnam Pro";
      box-sizing: border-box;
}
body{
      margin: 0;
      padding: 0;
      width: 100vw;
      overflow-x: hidden;
}

header{
      display: flex;
      justify-content: center;
}
header .logo{
      margin-top: 53px;
}
.hero{
      display: flex;
      flex-direction: column;
      align-items: center;
}
.figures, .hero h1, p{
      width: 256px;
}
.figures{
      margin-top: 48px;
      margin-bottom: 0;
}
h2, h3, h1{
      color:hsl(228, 39%, 23%);
}
h1, .hero p{
      text-align: center;
}
h1{
      font-size: 31px;
      margin-top: 10px;
      font-weight: 700;
}
p{
      color: hsl(227, 12%, 61%);
      line-height: 1.6;
      font-size: 16px;
}
.getStarted{
      color: white;
      background-color: hsl(12, 88%, 59%);
      border-style: none;
      padding: 13px 32px;
      border-radius: 50px;
      box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.4);
      margin-top: 5px;
      transition: 90ms linear ;
      font-weight: 700;
}

.getStarted:hover{
      cursor: pointer;
      background-color: hsl(12, 82%, 67%);
      transform:translateY(-6px);
}

/*----------main--------------*/

.main{
      margin-top: 70px;
      display: ;
      flex-direction: column;
      align-items: center;
}
.whatDifferent{
      width: 256px;
      height: 256px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      margin:auto;
}
.whatDifferent>p{
      text-align: center;
      width: 100%;
      padding:0;
      margin:0;
}
h2{
      font-size: 31px;
      text-align: center;
      margin: 0;
      padding: 0;
      height: 80px;
      width: 100%;
}
.specs {
    width: 100%;
    padding: 0;
    margin: 0;
    padding-left: 20px;
}
.specs p{
      padding: 0;
      margin: 0;
      width: 100%;
}
.specs h3{
      font-size: 12px;
}
.specsHeading{
      width: 100%;
      height: 36px;  
      background-color: hsl(0, 19%, 85%);
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
}
.specsHeading h3{
      display: inline-block;
      margin-left: 9px;
}
.number{
      background-color: hsl(12, 88%, 59%);
      padding: 8px 24px;
      color: white;
      border-radius: 30px;
      display: inline-block;
      text-align: center;
}

/*----------testimonials--------------*/
.testimonial{
      width: 100%;
}
.testimonialScroll::-webkit-scrollbar{
      display: none;
}
.testimonialScroll{
      overflow-x: scroll;
}
.testimonialGrid{
      width: 960px;
      display: grid;
      grid-template-columns: 230px 230px 230px 230px;
}
.gridItem p{
      text-align: center;
      font-size: 16px;
      width: 140px;
      height: auto;
}
.gridItem{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 200px;
}
.center{
      width: fit-content;
      margin: auto;
      margin-top: 40px;
      margin-bottom: 60px;
}
/*----------Use manage--------------*/
.useManage{
      background-color: hsl(12, 88%, 59%);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 100px 0px;
}
.useManage h2{
      color: white;
      text-align: center;
      min-width: 100%;
      height: fit-content;
      font-weight: 700;
      margin-bottom: 40px;
}
.btnWhite{
      background-color: white;
      color:hsl(12, 88%, 59%);
      margin: auto;
}
.btnWhite:hover{
      background-color: hsl(12, 100%, 96%);
}
/*----------Footer--------------*/
 footer{
      background-color: hsl(233, 12%, 13%);
      height: fit-content;
      padding: 32px;
      display: flex;
      flex-direction: column;
      align-items: center;

}
.socials{
      width: 163px;
      display: flex;
      justify-content: space-between;
      margin: 40px 0;
}

footer p{
      text-align: center;
      color: hsl(0, 0%, 98%);
}
.nav{
      text-align: center;
      color: hsl(0, 0%, 98%);
      margin-bottom: 40px;
}
a {
      color: hsl(0, 0%, 98%);
      text-decoration: none;
}
ul{
      list-style: none;
      color: hsl(227, 12%, 61%);
      line-height: 1.6;
      font-size: 16px;
      padding: 0;
}
li{
      margin-bottom: 20px;
}
a:hover{
      color:hsl(12, 88%, 59%);
}
form input{
      border-style: none;
      height: 40px;
      border-radius: 20px;
      padding-left: 15px;
      padding-right: 15px;
}
.email:focus{
      outline:none;
      border: none;
}
.go{
      color: white;
      background-color: hsl(12, 88%, 59%);
      border-style: none;
}
.admin{
      margin-bottom: 40px;
}
.copyright{
      font-size: 14px;
      font-weight: 300;
      margin-top: 40px;
      margin-bottom: 0;
}