*{
      font-family: "Be Vietnam Pro", "Segoe UI";
      box-sizing: border-box;
}
body{
      margin: 0;
      padding: 0;
      width: 100vw;
      overflow-x: hidden;
      background-image:url(./assets/bg-tablet-pattern.svg);
      background-repeat: no-repeat;
      background-position: -10% -5%;      
}
section{
      margin:50px 0;
}
header *:not(.logo){
      display: none;
}
header{
      display: flex;
      justify-content: center;
}
header .logo{
      margin-top: 53px;
}
/*----------hero--------------*/
.hero{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 10vw;
      margin-top: 0;
      height: fit-content;
}
.heroText{
      display: flex;
      flex-direction: column;
      align-items: center;
      height: fit-content;
}
.figures{
      width: 100%;
}
.hero h1, p{
      width: 100%;
}
.figures{
      padding-top: 50px;
      margin-bottom: 0;
}
h2, h3, h1{
      color:hsl(228, 39%, 23%);
}
.hero p{
      text-align: center;
}
h1{
      font-size: 30px;
      margin-top: 10px;
      text-align: center;
      width: 100%;
      font-weight: 700;
      padding: 0 5px;
}
p{
      color: hsl(227, 12%, 61%);
      line-height: 1.6;
      font-size: 16px;
}
.getStarted{
      color: white;
      background-color: hsl(12, 88%, 59%);
      border-style: none;
      padding: 13px 32px;
      border-radius: 50px;
      box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.4);
      margin-top: 5px;
      transition: 90ms linear ;
      font-weight: 700;
}

.getStarted:hover{
      cursor: pointer;
      background-color: hsl(12, 82%, 67%);
      transform:translateY(-6px);
}

/*----------main--------------*/

.main{
      width: 100%;
      padding-top: 50px;

}
.whatDifferent{
      width: 100%;
      height: fit-content;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      margin:auto;
      padding-left: 10vw;
      padding-right: 10vw;
}
.whatDifferent>p{
      text-align: center;
      width: 100%;
      padding:0;
      margin:50px;
}
h2{
      font-size: 31px;
      text-align: center;
      margin:0;
      height: 80px;
      width: 100%;
}
.specs {
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
    padding-left: 20px;
}
.specs p{
      padding: 0;
      margin: 10px;
      width: 100%;
}
.specs h3{
      font-size: 12px;
}
.specsHeading{
      width: 100%;
      height: 36px;  
      background-color: hsl(0, 19%, 85%);
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
}
.specsHeading h3{
      display: inline-block;
      margin-left: 9px;
}
.number{
      background-color: hsl(12, 88%, 59%);
      padding: 8px 24px;
      color: white;
      border-radius: 30px;
      display: inline-block;
      text-align: center;
}

/*----------testimonials--------------*/
.testimonial{
      width: 100%;
}
.testimonialScroll::-webkit-scrollbar{
      display: none;
}
.testimonialScroll{
      overflow-x: scroll;
}
.testimonialGrid{
      display: grid;
      grid-template-columns: 190px 190px 190px 190px;
      justify-items: center;
}
.gridItem p{
      text-align: center;
      font-size: 16px;
      width: 107px;
      height: auto;
}
.gridItem h3{
      font-size: 16px;
      text-align: center;
}
.gridItem img{
      height: 64px;
}
.gridItem{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 137px;
      margin: 24px;
      padding: 20px;
      background-color: white;
}
.center{
      width: fit-content;
      margin: auto;
      margin-top: 40px;
}
/*----------Use manage--------------*/
.useManage{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      
}
.last{
      margin-bottom: 0px;      
      background-color: hsl(12, 88%, 59%);
      background-image: url(./assets/bg-simplify-section-mobile.svg);
      background-repeat: no-repeat;
      padding: 100px 0px;
}
.useManage h3{
      color: white;
      text-align: center;
      min-width: 100%;
      height: fit-content;
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 40px;
}
.btnWhite{
      background-color: white;
      color:hsl(12, 88%, 59%);
      margin: auto;
}
.btnWhite:hover{
      background-color: hsl(12, 100%, 96%);
}
/*----------Footer--------------*/
 footer{
      background-color: hsl(233, 12%, 13%);
      height: fit-content;
      padding: 32px;
      display: flex;
      flex-direction: column;
      align-items: center;

}
.socials{
      width: 163px;
      display: flex;
      justify-content: space-between;
      margin: 40px 0;
}

footer p{
      text-align: center;
      color: hsl(0, 0%, 98%);
}
.nav{
      text-align: center;
      color: hsl(0, 0%, 98%);
      margin-bottom: 40px;
}
footer a {
      color: hsl(0, 0%, 98%);
      text-decoration: none;
}
footer ul{
      list-style: none;
      color: hsl(227, 12%, 61%);
      line-height: 1.6;
      font-size: 16px;
      padding: 0;
}
footer li{
      margin-bottom: 20px;
}
footer a:hover{
      color:hsl(12, 88%, 59%);
}
form input{
      border-style: none;
      height: 40px;
      border-radius: 20px;
      padding-left: 15px;
      padding-right: 15px;
}
.email:focus{
      outline:none;
      border: none;
}
.go{
      color: white;
      background-color: hsl(12, 88%, 59%);
      border-style: none;
}
.admin{
      margin-bottom: 40px;
}
.copyright{
      font-size: 14px;
      font-weight: 300;
      margin-top: 40px;
      margin-bottom: 0;
}

/*-------------------------------------------------TABLET SIZE--------------------------------------------------------*/

@media (min-width:768px) {
      body{
            background-image:url(./assets/bg-tablet-pattern.svg), url(./assets/bg-tablet-pattern.svg);
            background-repeat: no-repeat;
            background-position: top -270px left 365px, bottom 920px right 450px;
      }
 /*----------main--------------*/     
      header *:not(.logo){
            display: unset;
      }
      header{
            display: flex;
            padding-top: 50px;
            justify-content:flex-start;
            align-items: flex-end;
            height: max-content;
            margin: auto;
            width: fit-content;
      }
      header .logo{
            margin-top: 0;
      }
      header a {
            text-decoration: none;
            color: hsl(233, 12%, 13%);
      }
      header a:hover{
            color: hsl(227, 12%, 61%);
      }
      nav{
            margin-bottom: 8px;
            margin-left: 4px;
            margin-right: 4px; 
      }
      header ul{
            list-style: none;
            font-size: 14px;
            height: 24px;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
      }
      header li{
            margin-right: 24px;
      }
      header li:last-of-type{
            margin-right: 0;
      }

/*----------hero--------------*/
      .hero{
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 50px 0;
      margin:0 24px;
      }
      .figures{
      margin:0;
      width: 360px;
      order: 2;
      }
      .heroText{
            display: unset;
            width: 360px;
            padding: 0;
            order: 1;
      }
      .hero p{
            text-align: left;
      }
      .heroText h1{
            text-align: left;
            width: 80%;
      }


      /*----------main--------------*/

      .main{
      width: 760px;
      padding:50px 0;
      margin: auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;

      }
      .whatDifferent{
            width: 360px;
            display: usent;
            margin:0;
            margin-left:20px;
            padding-left: 0;
            padding-right: 0;
            grid-area: 2/1/3/2;
      }
      .whatDifferent p{
            text-align: left;
            margin:0;           
      }
      .whatDifferent h2{
            font-size: 31px;
            text-align: left;
            margin: 0;
            margin-bottom: 10px;
            padding: 0;
            height: 80px;
      }
      .specs {
            padding: 0;
            margin: 0;
            margin-bottom: 30px;
      }
      .specs p{
            padding-left: 80px;
            margin-top: 10px;
      }
      .specs h3{
            font-size: 16px;
      }     
      .specsHeading{
            width: 100%;
            height: 36px;  
            background-color: white;
      }
      .specsHeading h3{
            display: inline-block;
            margin-left: 9px;
      }
      .number{
            background-color: hsl(12, 88%, 59%);
            padding: 8px 24px;
            color: white;
            border-radius: 30px;
            display: inline-block;
            text-align: center;
      }
      .first{
            grid-area: 1/2/2/3;
      }
      .second{
            grid-area: 2/2/3/3;
      }
      .third{
            grid-area: 3/2/4/2;
            width: 100%;
      }
      /*----------testimonials--------------*/
.testimonial{
      width: 100%;
}
.testimonialGrid{
      margin: auto;
      width: fit-content;
      display: grid;
      grid-template-columns: 190px 190px 190px 190px;
      justify-items: center;
}
.gridItem p{
      text-align: center;
      font-size: 16px;
      width: 107px;
}
.gridItem h3{
      font-size: 16px;
      text-align: center;
}
.gridItem img{
      height: 64px;
}
.gridItem{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 137px;
      margin: 24px;
      padding: 20px;
      background-color: white;
}
/*----------Use manage--------------*/
      .last{    
            background-color: hsl(12, 88%, 59%);
            padding: 50px 0px;
            margin: 0 0;
            background-image: url(./assets/bg-simplify-section-desktop.svg);
            background-position:bottom 3px left 220px;
      }
      
      .useManage h3{
            color: white;
            text-align: left;
            font-size: 40px;
            font-weight: 700;
            margin:0 0 0 0;
      }
      br{
            margin-right: -20;
            padding: 0;
      }
      .useManage{
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            margin:0 ;
            margin-right: 200px;
      }
      .btnWhite{
            background-color: white;
            color:hsl(12, 88%, 59%);
      }
/*----------Footer--------------*/
      footer{
            padding: 50px 24px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 178.2px;
      }
      .go{
            width: 80%;
      }
      footer>div{
            display: flex;
            height: 100%;
            flex-direction: column;
            justify-content: space-between;
      }
      input{
            width: 80%;
      }
      .socials{
            margin: 0;
      }
      .copyright{
            margin:0;
      }
      .col2{
            margin:0;
      }
      ul{
            text-align: left;
            margin:0;
      }
      .admin{
            margin:0;
            display: block;
      }
      .admin p{
            text-align: left;
            margin:0;
      } 
           
}

/*-------------------------------------------------LAPTOP SIZE--------------------------------------------------------*/

@media (min-width:992px) {
      body{
            background-position: top -270px left 365px, bottom 870px right 30px;
      }
      /*----------header--------------*/
      header{
            display: flex;
            justify-content:space-between;
            align-items: flex-end;
            margin: auto;
            width: 960px;
      }
/*----------hero--------------*/
      .heroText{
            width: 480px;
      }
      .heroText p{
            padding-right: 192px;
      }
      .figures{
            width: 480px;
      }
      .hero h1{
            font-size: 56px;
            width: 480px;
      }
      .hero{
            padding: 100px 0;
      }
      /*----------main--------------*/
      .main{
            width: 960px;
            padding: 0;
            padding-top: 50px;
      }
      .whatDifferent{
            grid-area: 1/1/2/2;
      }
      /*----------testimonials--------------*/
      .testimonialGrid{
            margin: auto;
            width:fit-content;
            grid-template-columns: 200px 200px 200px 200px;
      }
      .gridItem{
            padding: 24px;
            margin: 0;
            width: 100%;
      }
      .gridItem p{
            width: 100%;
      }
      /*----------Footer--------------*/
      .go{
            width:fit-content;
      }
      input{
            width: 150px;
      }
      .logoFooter{
            width: 130.5px;
      }
      .figures{
            padding-top: 0;
      }
      
}     
